kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
- role: worker
  labels:
    app: consul
    release: consul
    component: server
- role: worker
  labels:
    app: static-2
- role: worker
  labels:
    app: static-3
- role: worker
  labels:
    app: static-4
- role: worker
  labels:
    app: static-5
- role: worker
  labels:
    app: static-6

